body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Figtree';
    width: 380px;
    height: 450px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-right-width: 6px;
    border-bottom-width: 6px ;
    border-radius: 3%; 
}
.illustration-article{
    height: 50%;
    width:90%;
    border-radius: 6%;
    margin-top:15px;
}
p span{
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 5px;
    border-radius: 10%;
}
.image-avatar{
    width: 30px;
    height: 30px;
}
.content{
    margin: 20px;
    font-size: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.content > h1,.summary,p{
    margin: 0;
}
.date-published{
    margin: 15px 0;
    font-weight: 600;
}
.title{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
.title:hover{
    color: hsl(47, 88%, 63%);;
}
.summary{
    margin: 15px 0;
    color: hsl(0, 0%, 50%);
    font-size: 16px;
}
.instructor-profile{
    display: flex;   
}
.instructor-profile > p{
    padding: 7px; 
}
main:hover{   
    border-color: black;
    border-width: 1px 8px 8px 1px; 
}